* {
	font-family: "Lobster", sans-serif;
	font-style: 20px;
	background-color: navyblue;
}

* {
	margin: 0;
	padding: 0;
}

form {
	background-color: black;
}

body {
	height: 100%;
	background-color: beige;
}

#wd_profile {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
	margin-left: 1rem;
	margin-right: 1rem;
	background-attachment: fixed;
}

.container {
	height: ;
}